@font-face {
	font-family: norse;
	src: url(./Norse-Bold.otf);
}

:root {
	--green: #596d48;
	--light: #e5e7eb;
	--bgc: #f9fafb;
	--white: #fff;
}

body {
	display: flex;
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
	background-color: var(--bgc);
}

div.content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media (min-width: 1024px) {
	header {
		background-image: url(../img/bgc-1862px.jpg);
	}
}

@media (max-width: 1023px) {
	header {
		background-image: url(../img/bgc-1862px.jpg);
	}
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 33%;
	background-size: cover;
	color: var(--white);
}

div.heading-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-grow: 1;
}

h1 {
	display: flex;
	justify-content: center;
	font-family: norse, sans-serif;
	margin: 0;
	padding: 1rem 0;
	background-color: rgba(0, 0, 0, 50%);
}

h1 img {
	display: block;
	max-height: 8rem;
}

h1 span {
	font-size: 6rem;
	line-height: 8rem;
}

header p {
	flex-grow: 0;
	text-align: center;
	margin: 0;
	padding: 15rem 0 1rem 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 3rem;
}

form > section,
form > p {
	padding-left: 4rem;
}

button {
	margin-left: 4rem;
	padding: 1rem 3.5rem;
	font-size: 1.5rem;
	width: fit-content;
}

section.intro {
	font-size: 1.75rem;
	font-weight: 700;
}

section.intro > p,
div.label-wrapper {
	max-width: 800px;
}

div.label-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	row-gap: 1.5rem;
}
label {
	display: flex;
	flex-direction: column;
}

label span {
	text-transform: uppercase;
}

label input {
	max-width: 16rem;
}

footer {
	flex-grow: 0;
	text-align: center;
}
